html,
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  display: flex;
  flex-direction: column;
}

.ant-btn {
  align-self: flex-end;
}